<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/modal.css}" />
    <title>Discord</title>
</head>

<body>
    <h1>Serveur [[${id}]]</h1>
    <button id="openModalBtn">Open Modal</button>
    <!-- La modal -->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <button class="close">&times;</button>
            <h2>Ma Modal</h2>
            <div class="form-salon">
                <form method="POST">
                    <input type="text" name="name">
                    <input type="radio" name="isText" value="1">Text</input>
                    <input type="radio" name="isText" value="0">Vocal</input>
                    <input type="submit" value="Envoyer" />
                </form>
            </div>
        </div>
    </div>
    <script th:src="@{/js/modal.js}"></script>
    <table>
        <tr th:each="server: ${servers}">
            <td th:text="${server.name}" />
        </tr>
    </table>
</body>

</html>